{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="partner-content">
		<div class="g-content top center">
				    {% set html = particle.twig ? gantry.theme.compile(particle.html) : particle.html %}
    				{{ (particle.filter ? gantry.platform.filter(html) : html)|html|raw }}
    				<br>
    				{% if particle.linkbefore %}<a href="{{ particle.linkbefore|e }}" class="button">{{ particle.linktextbefore|e }}</a>{% endif %}
					{% if particle.linkafter %}<a href="{{ particle.linkafter|e }}" class="button">{{ particle.linktextafter|e }}</a>{% endif %}
			</div>
	</div>
{% endblock %}