{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

        {# Begin Entry Header #}
        <div class="entry-header title-content {{ particle.variations }}">

			{% if particle.headline %}
			<h1>{{ particle.headline|raw }}</h1>
			<hr>
			{% elseif particle.header %}
			<h2>{{ particle.header|raw }}</h2>
			<hr>
			{% endif %}

			{% if particle.description %}<div class="title-description {{ particle.css.class }}"><p>{{ particle.description|raw|nl2br }}</p></div>{% endif %}			

        </div>
        {# End Entry Header #}

{% endblock %}